@use "../abstracts/variables";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  // 2. Prepend the 'variables.' namespace to your breakpoints
  @media only screen and (max-width: variables.$bp-large) {
    font-size: 50%;
  }
  @media only screen and (max-width: variables.$bp-medium) {
    font-size: 30%;
  }
}

body {
  // 3. Prepend the 'variables.' namespace here as well
  background: linear-gradient(
    to right bottom,
    variables.$color-primary,
    variables.$color-primary-dark
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: variables.$color-grey-dark;
}
