@use "../abstract/mixins";
@use "../abstract/variables";

.section-about {
    background: variables.$color-grey-light-1;
    color: variables.$color-grey-dark;
    padding: 25rem 0;
    margin-top: -20vh;

         @include mixins.respond (tab-port) {
             padding: 10rem 0;
    }
         @include mixins.respond (tab-port) {
             padding: 10rem 4rem;
    }
}

.section-tours {
    background-color: #f7f7f7;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}