@media (min-width: 800px) {
    .layout__bothAside {
    display: grid;
    grid-template: auto 1fr auto / minmax(140px, 1fr) 2fr minmax(140px, 1fr);
    // grid-template: auto 1fr auto / minmax(140px, 15vw) 2fr minmax(140px, 15vw);
    
    .header {
        grid-column: 1 / -1;
        background: #d6d6d6;
    }
    .main {
        grid-column: 2 / 3;
        background: #fff;
    }
    
    .aside__left {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        background: #ffcdcd;
    }
    
    .aside__right {
        grid-row: 2 / 3;
        grid-column: 3 / 4;

    }
    
    .footer {
        grid-column: 1 / -1;
        background: #cecece;
    }
}
}