@use "../abstract/mixins";

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    // defines what 1 rem is
    font-size: 62.5%;
    @include mixins.respond (big-desktop) {
       font-size: 75%;
    }

    @include mixins.respond (tab-land) {
       font-size: 56.25%;
    }

    @include mixins.respond (1080) {
       font-size: 50%;
    }

    @include mixins.respond (tab-port) {
       font-size: 40%;
    }
    @include mixins.respond (phone) {
       font-size: 40%;
    }

}

body {
    box-sizing: border-box;
    padding: 3rem;

      @include mixins.respond (tab-port) {
       padding: 0;
    }

}


